$fontColour: #000;
$bgColour: #4a90e2;
$containerBGColour: #f2f2f2;
$containerBorderColour: #000;
$textboxBorderColour: lightgray;
$buttonTextColour: white;
$buttonHoverColour: #fff;
$addButtonColour: green;
$removeButtonColour: red;

@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: "Monstserrat", sans-serif;
    color: $fontColour;
    width: 100%;
    min-height: 100%;
    @include mq(768px) {
        font-size: 22px;
    }
}

body {
    padding: 20px;
    background-color: $bgColour;
}

section {
    background-color: $containerBGColour;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 1px solid $containerBorderColour;
    border-radius: 15px;
}